@model LoginViewModel
<h2>Login</h2>

<form method="post" asp-action="LogIn" asp-controller="Account">
    <div asp-validation-summary="ModelOnly"></div>

    <div>
        <label asp-for="Email" class="form-label">Email</label>
        <input asp-for="Email" class="form-control" type="email" />
        <span asp-validation-for="Email"></span>
    </div>

    <div>
        <label asp-for="Password" class="form-label">Password</label>
        <input id="passwordField" class="form-control" asp-for="Password" type="password" />
        <img id="buttonShow" src="https://icons.iconarchive.com/icons/iconsmind/outline/512/Eye-2-icon.png" height="40px" />
        <span asp-validation-for="Password"></span>
    </div>

    <div>
        <input type="submit" class="btn btn-primary" value="Log In" style="margin-top:20px" />
    </div>

</form>

<script>var buttonShow = document.getElementById("buttonShow");
    var passwordField = document.getElementById("passwordField");
    buttonShow.addEventListener("mousedown", function () {
        passwordField.type = "text";
    });
    buttonShow.addEventListener("mouseup", function () {
        passwordField.type = "password";
    });</script>